/* Variables */
:root {
  --background-color: #f5f5f4;
  --text-color: #333;
  --window-border-radius: 6px;
  --font-size: 13px;
}

/* The arrow at the top of the window */
.header-arrow {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #e8e6e8;
}

.window {
  position: absolute;
/*  top: 5px; */
}

.toolbar {
  box-shadow: none;
}

.window, .toolbar-header {
  border-top-left-radius: var(--window-border-radius);
  border-top-right-radius: var(--window-border-radius);
}

.window-content {
  background-color: var(--background-color);
}

.column {
  width: 50%;
  float: left;
  margin: auto;
  margin-top: 16px;
  text-align: center;
}

.summary {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 16px;
  font-size: var(--font-size);
  font-weight: 300;
  color: var(--text-color);
}

.reading {
  font-size: calc(var(--font-size) + 6px);
  font-weight: 300;
  color: var(--text-color);
}

.description {
  text-transform: uppercase;
  color: #666;
  font-size: calc(var(--font-size) - 3px);
  font-weight: 300;
}

.footer-link {
  padding-top: 8px;
  padding-left: 10px;
  font-size: calc(var(--font-size) - 4px);
  float: left;
}

.footer-link a {
  color: var(--text-color);
}

.information {
  border: 1px;
  background-color: #f1f1f1;
  font-family: "Microsoft YaHei", sans-serif;
  font-size:12px
}
.wp-group {
  border-bottom: grey 1px solid;
  padding: 10px;
  padding-top: 5px;
  font-family: "Microsoft YaHei", sans-serif;
  font-size:13px
}
.group-title {
  margin-bottom:5px;
  font-size:13px
}
.group-label {
  font-size:12px;
  margin-top:0;
  margin-bottom:3px
}
.radio-label {
  font-size:12px;
  height: 23px;
  margin-top:0;
  margin-bottom:0
}

.tgroup-label{
  height:24px;
}
.tgroup-setting {
  display: block
}
.tgroup-about {
  display: none
}
.tgroup-about-show {
  text-align: center;
  background-color: #f1f1f1;
}

hr{
  text-align:center;
  width:100%;
  color:darkred;
  size:3
}

.jkheader{
  background-color: #b8d4f5
}

.jkfolder{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 130%;
  color: #f9d692;  
}
.jkpadded-left{
  padding-left: 10px;
}
.jkpadded-left-less{
  padding-left: 5px;
}
.jkcloud{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 130%;
  color: #6badf9;  
}

.jkbtn{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 130%;
  color: #0d24a9;
}

.jkbtn-check{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 140%;
  color: #0aa568;
}

.jkbtn-cancel{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 140%;
  color: #ce1812;
}

.jkcheck{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 120%;
  color: #0aa568;
}

.jklogo{
  float: right;
  padding: 20px; 
  width: 35%;
}
.jkfield{
  border: 1px solid rgba(185, 181, 181, 0.97);
  padding: 17px;
  margin: 5px;
  background-color: #fafafa;}
.jkcancel{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 120%;
  color: #ce1812;
}

.jknoshow{
  display: none;
}
#navsite { 
    padding: 0; 
    background-color: #fff; 
} 
#navsite ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
} 
#navsite ul li { 
    height:34px;
    margin: 0; 
} 
#navsite ul li a { 
    padding-left: 10px;
    display: block; 
    text-decoration: none; 
    width: 100%; 
} 
#navsite ul li a {
    line-height: 36px;
    height:36px;
    width: auto; 
}
#navsite ul li a i {
    padding-right: 10px;
}
#navsite ul li a:hover { 
    background-color: #ccc; 
} 
